{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'zavie/style.css' %}">
    <title>Dev-Hash</title>
</head>
<body>

    
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    
    <div>
        <div class="split right">
            <div class="flex-box-container-1">
                <h2>
                    hello world
                </h2>
            </div>
            <hr>
            <div class="flex-box-container-1">
                <h5>note</h5>
                    <div>
                        <div>
                            <label>
                                سلام
                                این سایت به منظور تست و ازمایش کد برای فرانت اند طراحی شده و هرگونه کپی برداری پیگرد قانونی دارد
                                وبسایت دو-هش یک وبلاگ شخصی میباشد و قابل فروش نیست
                            </label>
                            
                        </div>
                    </div>
                    
                    
            </div>
        </div>
        
        <div class="split left">
            
            <div class="flex-box-container-1">
                <h2>خبر اول</h2>
                <div>
                    <div>
                        <label>
                            <p>ورود صفر و یک‌ها ممنوع !
                            </p>
                            <p>
                                <p>
                            کارآموزی به ‌درد افراد مسلط نمی‌خورد زیرا چیز تازه‌ای برایشان ندارد. پس اگر احساس می‌کنید در حوزه‌ای که هستید خیلی کارتان درست است، رتبه یک هستید و دل به کسب تجربه و سایر مهارت‌ها از طریق کارآموزی بسته‌اید، اشتباه می‌کنید! زیرا در این شرایط، کارآموزی تنها وقت شما را می‌گیرد. در چنین شرایطی به‌ نظر می‌رسد ورود به بازار کار انتخاب منطقی‌تری باشد. از طرفی خواهش بسیاری از مجموعه‌ها این است که لطفا دست خالی پیش ما نیایید.
                            
                            وقتی شما برای کارآموزی اقدام می‌کنید یعنی به کار کردن و یادگیری در آن حوزه علاقه دارید، پس طبیعی است که خودتان از پیش برای یادگیری قدم برداشته باشید و نخواهید از صفر شروع کنید.
                                </p>
                                <hr>
                            بسیاری از افراد انتظار دارند بدون هیچ تلاش و پیش زمینه‌ای به کارآموزی وارد شوند درحالیکه کارفرما انتظار دارد میزان تلاش و پشتکار شما تا قبل از ورود به کارآموزی را ببیند. عنوان‌هایی که در متن پررنگ هستند شما را به سمت مقالاتی هدایت می‌کنند که ممکن است خواندن هر کدام برایتان مفید و کارآمد باشد.
                            
                            برخی از مجموعه‌های معتبر مانند رهنما کالج نیز در سال‌های اخیر اقدام به جذب کارآموز و تربیت آن‌ها برای ورود به بازار کار کرده‌اند. به این صورت که افراد راه یافته به کارآموزی، از طریق فرآیند آزمون و مصاحبه انتخاب می‌شدند.
                            
                            پیدا کردن کارآموزی مناسب
                            </p>
                            <hr>
                            
                            اگر دانشجو هستید از اساتید خود کمک بگیرید. آن‌ها می‌توانند شما را به شرکت‌های معتبر زیادی معرفی کنند که برخی از این شرکت‌ها ممکن است حقوق کمی نیز به شما پرداخت کنند ( 1 در 100 البته). اگر هم دانشجو نیستید از آگهی‌ها غافل نشوید. در سال‌های اخیر، شتاب‌دهنده‌ها و استارتاپ‌ها سهم زیادی در جذب کارآموز داشته‌اند.
                            
                            با پیگیری اخبار شرکت‌های مطرح و ارتباط با افراد فعال در این حوزه می‌توانید از فرصت‌های کارآموزی باخبر شوید. برای یادگیری اصولی برنامه‌نویسی و حتی مهارت‌های نرم بهتر است در انتخاب شرکت دقت زیادی داشته باشید.
                            
                        </label>
                    </div>
                    

                    <hr>
                    <hr>
                    <div>
                        <img src="{% static 'zavie/te.png' %}" width="200" height="400" class="image">
                    </div>
                    
                    
                    
                    
                </div>
                
                
                <a href="https://www.instagram.com/parsaamini43/" target="_blank"><img 
                    src="https://scontent-amt2-1.cdninstagram.com/v/t51.2885-19/s150x150/116422963_336270690722878_2164418350785396308_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com&amp;_nc_ohc=mTkKrPpXHjwAX_KLuC7&amp;oh=feba6369d67302d549bac72c893dedec&amp;oe=5F8A9DF5" 
                    alt="" width="50" heigth="50" class="profile-image"><label>  instagram</label></a>
                
                
                

                <hr>
                <div>
                    <select>
                        <option value="python">Python</option>
                        <option value="java">Java</option>
                        <option value="javascript">JavaScript</option>
                        <option value="swift">Swift</option>
                    </select>
                </div>

                <div>
                    <a href="news.html"><button class="btn btn-primary">بعدی</button></a>
                </div>

                <div>
                    <button class="btn btn-danger" onclick="re()">نشانه شود</button>
                </div>

                
            </div>
            
            <hr>

            <div class="flex-box-container-1">
                <h2>خبر دوم</h2>
                <div>
                    <label>
                        انتخاب یک نام ایده آل برای شرکت و کسب و کار تنها در گفتار ساده به نظر می رسد. در صورتی که اقدام به خرید کسب و کار کنید، خود را از این تصمیم نیز فارغ می سازید. شگفت ‌انگیز است که بدانید بسیاری از افراد تنها به صرف اینکه نمی توانند نامی برای کسب و کار خود انتخاب کنند، از آن صرف نظر می کنند. از طرفی دیگر، در یک کسب و کار مشکلاتی نظیر جذب مشتری، استخدام کارمندان و تنظیم اولیه رویه ها و سیستم ها وجود ندارد، زیرا که چنین کسب و کاری دارای مشتریان حاضر، شهرت و کارمندانی است که با همه جوانب کار آشنا هستند و فرمولی موقتی برای اداره کسب و کار پیاده سازی شده است.
                    </label>
                </div>
            </div>

        </div>
        
        
    </div>

    
    <script src="test.js"></script>
    
</body>
</html>