{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'zavie/style.css' %}">
    <title>News</title>
</head>
<body>
    <div class="topnav">
        <a href="http://127.0.0.1:8000">Home</a>
        <a class="active" href="news.html">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <hr>
    <div class="container">
        <div class="flex-box-container-2">
            
            <img src="{% static 'zavie/meme1.png' %}" alt="">
            <img src="{% static 'zavie/meme2.jpeg' %}" alt="" width="200" height="300" >
            <img src="{% static 'zavie/meme3.jpg' %}" alt="" width="400" height="300" >
            
        </div>
    </div>
    
    

</body>
</html>
