.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.flex-box-container-1 {
    display: flex;
    border: 2px solid rgb(3, 145, 43);
    background: rgb(227, 224, 224);
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: end;
}

.profile-image {
    border-radius: 50%;
}

.image {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(84, 82, 82);
    padding: 2;
}

.flex-box-container-2 {
    display: flex;
    border: 2px solid rgb(3, 145, 43);
    background: rgb(227, 224, 224);
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
}

.flex-box-container-2 img {
    
    border-radius: 20px;
}

.flex-box-container-2 img:hover {
    box-shadow: 0px 0px 30px rgb(1, 16, 177);
}




.image-container img {
    box-shadow: 10px 10px 10px black;
}



.topnav {
    right: 10;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(106, 101, 101);
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 6px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



.split {
    position: fixed;
    top: 50;
    padding-top: 20px;
    padding: 20;
}
  
/* Control the left side */
.left {
    left: 0;
    height: 100%;
    width: 70%;
}

/* Control the right side */
.right {
    right: 0;
    height: 100%;
    width: 30%;
}

  
